$andy:#OOOOOO;










$gold:#F5BF03;
$gold2:rgba(245,191,3,0.5);

$andycolor:rgba(255, 102, 255, 0.1);
$andycolor2:rgba(227, 11, 74, 0.1);
$andycolor3:rgba(153, 102, 51, 0.1);
$red:#e2426d;
$crimson:#FF5433;
$burgundy:#E30B4A ;
$lightblue:#1bbbeb ;
$beige:#E8C3B4;
$violet:#9842e2;
$beige2:#E8E4B4 ;
$mustard:#FFDB58;
$contentColour:#BEFF33;
$gallery:#ff66ff;
$brown:#996633;
$brown2:#663300;
$lemonchiffon:#FFFACD;
$violet:#D775B5;
$christBlue:#4006ba;
$blue:#200063;
$sea:#3D9C88;
$green:#90EE90;
$orange:#d57614;
$orange2:#FFC933;
$lilac:#C8A2C8;
$purple:#8B008B;
$prophetBlue:#0000ff;
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


br.clearfix
{
@include clearfix;
}

@mixin margin

{
margin-left:1rem;
margin-right:1rem;
}

h3.links
{
letter-spacing:4px;
@include margin;
text-decoration:none;
}

h3.links a
{
text-decoration:none;
}

 
 
 
 


blockquote.prophet
{
margin-left:1rem;
//indent-text:5px;
}


.fa-instagram
{
padding:8px;
border-radius: 50%;
background-color: $gold;
//color: #954246;
color:$blue;
border: 1px solid #f9d6D7;
}

.fa-youtube {
padding:8px;
border-radius: 50%;
background-color: $gold;
//color: #954246;
color:black;
border: 1px solid #f9d6D7;
}

.fa-facebook-official
{
padding:8px;
border-radius: 50%;
background-color: gold;
//color: #954246;
color:$blue;
border: 1px solid #f9d6D7;
}

.form-control
{

  border: 1px solid #000
}

iframe
{
margin:10px;
}

a.navbar-brand
		
		{
			color:$brown;
			}
		
		.navbar-toggler-icon
		{
			background-color: orange;
			text-shadow: 2px 2px;
		}
		
		
		 
		
		
		
 li.nav-item 	a.nav-link 
		
		{
			color:black;
			
	    }		
    
  
  li.nav-item 	a.nav-link:hover 
		
		{
			color:$brown2;
			background-color:$lemonchiffon;
			
	    }		
    div.center
    {
    width:100%;
    display:flex;
    text-align:centre;
    }
  
  
  div.dropdown-menu p
  
  {
  text-align:center;
  color:black;
  font-weight:bold;
  }
  

li a.dropdown-item:link
{
text-align:center;
}


li  a.dropdown-item:hover 
{
text-align:center;
 color:black; 
 background:yellow;
}







div.mx-auto

{
display:flex;
width:80%;

flex-direction:row;
justify-content:center;
}

div.mx-auto  IMG
{
display:flex;
width:5%;

}






h1.magnolia {
  font-family: 'magnolia_lightregular';
    color: $purple;
  font-weight: regular; 
   font-size: 5rem;
  text-shadow: -1px 0 black, 0 1px $burgundy, 1px 0 black, 0 -1px black;
  text-align:center;
  }











h1.quintessential

{

 font-family: 'quintessentialregular';
 font-weight: regular; 
font-size:5rem;
color:$gold;
text-shadow: -1px 0 black, 0 1px black, 2.5px 0 black , 0 -1px black;
//above prophet 
//color:$gold;
//above golib and andrina 




 
  
}  

h1.amadeus {
  font-family: 'amadeus_regularamadeusRg';
    color: $mustard;
  font-weight: regular; 
   font-size: 5rem;
  text-shadow: -1px 0 black, 0 1px $burgundy, 1px 0 black, 0 -1px black;
  text-align:center;
  }
  
 h1.caroni
 
 {
 
 font-family: 'caroniregular';
  font-weight: regular; 
font-size:5.5rem;
color:$blue;
text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
 text-align:center;
 }
 h1.lemonchicken
 {
  font-family: 'lemonchickenregular'; 
   color: $mustard;
  font-weight: regular; 
   font-size: 5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align:center;
   
 } 
 
 h6
 {
  font-weight: bold; 
font-size: 0.8rem;
text-align:center;
color:$lightblue;
 }
 
 
h5.newtimes
{

font-family: 'times_new_romanregular';
 font-weight: regular; 
font-size:1.0rem;
color:$blue;
text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
text-align:center;
//above is footer text dont touch 
}

 h4.literataMedium
  {
font-family: 'literata_bookmedium';
font-size: 1.1rem;
}

h4.literataRegular

{
font-family:'literata_bookregular';
font-size:1.1rem;

}

h4.literataBold
{
  font-family: 'literata_bookbold';
  font-size:1.5rem;
}


h4.bible

{
font-family:'balgruf';
 font-size:1.5rem;
font-weight:regular;
color:$brown;
 
}

h4.newtimesroman
{
font-family:'times-new-roman';
font-size:2.3rem;
font-weight:regular;
color:$beige2;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4.antic
{
 font-family: 'antic_sansregular';
 font-family: 'quintessentialregular';
 font-weight: regular; 
font-size:2.1rem;
color:$brown;
 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4.anticSlab{
font-family: 'antic_slabregular';
font-family: 'antic_sansregular';
 font-family: 'quintessentialregular';
 font-weight: regular; 
font-size:2.1rem;
color:$orange;
 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

h4.amadeus {
  font-family: 'amadeus_regularamadeusRg';
    color: $purple;
  font-weight: regular; 
   font-size: 2.7rem;
  text-shadow: -1px 0 black, 0 1px $burgundy, 1px 0 black, 0 -1px black;
  
  }


h4.newtimes
{
font-family: 'times_new_romanregular';

font-weight: lighter; 
font-size:2.7rem;
color:$christBlue;
text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
}

h4.kingsthingsLite
{ 
font-family: 'kingthings_calligraphica_liLt';
 font-weight: regular; 
font-size:3.2rem;
color:$mustard;
text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
}

h4.kingsthings2Rg
{
font-family: 'kingthings_calligraphica_2Rg';
 font-weight: regular; 
font-size:1.5rem;
color:$lilac;
text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
} 
  h4.footer 
 {
 
     font-family: 'caroniregular';
  font-weight: regular; 
font-size:1.5rem;
color:$lilac;
text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
 } 
 
 
 
h4.quintessential

{

 font-family: 'quintessentialregular';
 font-weight: regular; 
font-size:2.3rem;
color:$green;
 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}  
  
  h4.quintessentialBlue
  
  {
  
   font-family: 'quintessentialregular';
 font-weight: regular; 
font-size:2.3rem;
color:$lightblue;
 
  text-shadow: -1px 0 black , 0 1px black, 1px 0 black, 0 -1px black;
  
  
  }
  
  h4.quintessentialViolet
  
  {
  
   font-family: 'quintessentialregular';
 font-weight: regular; 
font-size:2.3rem;
color:$violet;
 
  text-shadow: -1px 0 black , 0 1px black, 1px 0 black, 0 -1px black;
  
  
  }
  
  h4.kaushanscript

{

 font-family: 'kaushan_scriptregular';
 font-weight: regular; 
font-size:2.3rem;
color:$beige2;
 text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;

}
 
h4.dancing-script-ot
{
font-family: 'dancing_script_otregular';
 font-weight: regular; 
font-size:2.3rem;
color:$lightblue;
 text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;


} 
  
h4.caroni

{
 font-family: 'caroniregular';
  font-weight: regular; 
font-size:3.0rem;
color:$blue;
text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
 
}  
 
h4.shangrilanReg

{
font-family: 'shangrilanfregular';
font-weight: regular; 
font-size:3rem;
color:$orange2;
  text-shadow: -1px 0 black, 0 1px $brown, 1px 0 black, 0 -1px black;
}  
  
h4.lemonchicken  
{
font-family: 'lemonchickenregular';
font-weight: regular; 
font-size:1.7rem;
color:$sea;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4.magnolia
{
font-family: 'magnolia_lightregular';
font-weight: regular; 
font-size:3rem;
margin-left:0.5rem;
color:$crimson;
 text-shadow: -1px 0 black, 0 1px $burgundy, 1px 0 black, 0 -1px black;
}


h4.optimanormal
{
  font-family: 'optimanormal';
  font-weight: regular; 
font-size:2.3rem;
margin-left:0.5rem;
color:$brown;
 text-shadow: -1px 0 black, 0 1px $burgundy, 1px 0 black, 0 -1px black;
}


h4.optimabold

{
 font-family: 'optimabold';
   font-weight: regular; 
font-size:3rem;
margin-left:0.5rem;
color:$mustard;
 text-shadow: -1px 0 black, 0 1px $burgundy, 1px 0 black, 0 -1px black;
}


h4.optimamedium
{
 font-family: 'optimamedium';
  font-weight: regular; 
font-size:2.7rem;
margin-left:0.5rem;
color:$mustard;
 text-shadow: -1px 0 black, 0 1px $burgundy, 1px 0 black, 0 -1px black;
}


div.headsection {
display:flex;
flex-direction:row;
flex-basis:200px;

 
   }

div.contentsection
{
display:flex;
flex-direction:column;
flex-basis:350px;
}

div.contentsectionAdmin
{
display:flex;
flex-direction:row;
}



div.footersection
{
display:flex;
flex-direction:row;
height:150px;
align-content:space-between;
justify-content:center;
background-image: url(../images/footer-image.png); 
//reason have colour below is that above is apart from crosses transparent 
background-color:$gold2;
 background-repeat: no-repeat;
background-size: cover; 
}


div.adminpanel

{
display:flex;
flex-direction:column;
@include margin;
background-color:$beige;
flex-basis:200px;
flex-grow:1;
border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;
}

div.placeholder
{
display:flex;
flex-direction:column;

opacity: 1;
@include margin;


background-color:$beige;
flex-basis:400px;
flex-grow:3;
border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;
}




div.tiktok

{



display:flex;
width:100%;

flex-direction:row;
justify-content:space-between;


}



div.a 
{
display:flex;
flex-grow:1;
width:100px;

align-items:center;
justify-content:center;
opacity:1;
}

div.b
{
display:flex;
flex-grow:1;
width:100px;

align-items:center;
justify-content:center;

}

div.c
{
display:flex;
flex-direction:column;
flex-grow:1;
width:100px;
text-align:right;
align-items:center;
justify-content:center;



}

div.e
{
@include margin;
display:flex;
flex-grow:1;
width:100px;
align-items:flex-start;
justify-content:center;

}
div.f
{
@include margin;
display:flex;
flex-direction:column;
flex-grow:1;
width:100px;
}





div.portfolio {
  display: flex;
  flex-wrap: wrap; 
 
  
  }


 div.item

{
display:flex;
flex-direction:column;
text-align:left;
flex-basis:250px;

margin-top:5px;

}


 
 
 
 div.item .img-fluid

{
display:flex;



 filter: brightness(89%);
width:89%;
align-items:flex-start;
border: 15px solid #555;

}

div.item  .img-fluid:hover
{
display:flex;
width:90%;
align-items:flex-start;
border: 5px solid #555;
transition:all 0.8s ease ;
filter: brightness(99%);
}




div.delGalleryImg
{
display:flex;
flex-basis:250px;
flex-direction:column;
background-colour:orange;
margin-left:2rem;
align-self: flex-start;
}


div.delGalleryImg img

{
margin-left:2rem;
display:flex;
left-margin: 1rem;
width :30%;

}

div.delBlogImg 
{
display:flex;
flex-direction:column;

width:38%;
height:auto;
background-color:yellow;
}



div.delBlogImg2 
{
display:flex;

flex-direction:column;

width:20%;

}

div.delBlogImg2  img

{
align:left;




}


div.blogArticleImg
{
 display:flex;
 flex-direction:column;
 
 margin-left:2rem;
 
 flex-basis:220px;
 height:45%;
 align-self: flex-end;
}

div.delBlogImg div.logo

{
 margin-left:2rem;
 display: flex;
  width: 120px;
  align-self: flex-start;
}

div.delBlogImg2 div.logo

{
 margin-left:2rem;
 display: flex;
 flex-direction:column;
  width: 150px;
  align-self: flex-start;
}

.img-thumbnail

{

width:100px;
}

div.delBlogImg  .img-thumbnail 
{
left-margin: 1rem;
width :120px;
 align-self: flex-end;
}


div.headsection div.logo {
  display: flex;
  width: 80px;
  align-self: flex-start; }

div.headsection div.logo img {
  left-margin: 1rem;
  width: 100%; }
 
  



@media (max-width:512px) and (min-height:550px) and   (orientation: portrait) 


{

		   div.contentsectionAdmin
{
display:flex;
flex-direction:column;


}
		
div.adminpanel
{
flex-grow:1;
margin-bottom:10px;
}


div.placeholder		

{
flex-grow:1;
margin-bottom:10px;
}
		
			div.a, div.b,div.c
			{
			height:90px;
			}
			
			
			
				h1.caroni, h1.lemonchicken ,h1.amadeus,h1.quintessential
				 {
				  font-size: 2.0rem;
				}

h4.newtimesroman,h4.antic,h4.anticSlab,  h4.quintessentialViolet,  h4.amadeus, h4.kingsthingsLite,   h4.newtimes,      h4.optimanormal,  h4.magnolia, h4.caroni  ,h4.quintessential, h4.kaushanscript, h4.dancing-script-ot ,h4.shangrilanReg  ,h4.lemonchicken  ,  h4.quintessentialBlue
               
               {
               font-size: 1.5rem;
               }
               
             
        div.footersection
{
display:flex;
flex-direction:column;
height:500px;
align-content:center;
justify-content:center;
text-align:center;
flex-wrap:wrap;
//background-color:purple;
background-repeat: no-repeat;
background-size: cover; 
}    
    
     div.tiktok
   {
   display:flex;
   flex-direction:column;
   }            
               
   div.e
   {
   display:flex;
   width:100%;
   }            
               
       div.f
   {
   display:flex;
   width:100%;
   }    
           
               
}

@media (min-width:512px) and (max-width:576px) and  (orientation: portrait) 


{

					div.a, div.b,div.c
			{
			
			height:90px;
			}
			
				
				
				h1.caroni, h1.lemonchicken ,h1.amadeus,h1.quintessential
				 {
				  font-size: 2.5rem;
				  
				}

   h4.newtimesroman,h4.antic,h4.anticSlab,  h4.quintessentialViolet,  h4.quintessentialBlue,  h4.amadeus,h4.kingsthingsLite,        h4.newtimes,    h4.optimanormal, h4.magnolia,h4.caroni  ,h4.quintessential, h4.kaushanscript, h4.dancing-script-ot ,h4.shangrilanReg  ,h4.lemonchicken  
               
               {
               font-size: 1.7rem;
               }
             
   div.footersection
{
display:flex;
flex-direction:column;
height:500px;
align-content:center;
justify-content:center;
text-align:center;
flex-wrap:wrap;
//background-color:green;
background-repeat: no-repeat;
background-size: cover; 
}    
             
    div.tiktok
   {
   display:flex;
   flex-direction:column;
   }            
               
   div.e
   {
   display:flex;
   width:100%;
   }      
   
     div.f
   {
   display:flex;
   width:100%;
   }    
   
   
   
           
}



@media (min-width:576px) and (max-width:768px) and  (orientation: portrait) 

{
            
            div.a, div.b,div.c
			{
			
			height:90px;
			}
			
            
            
            
               h1.caroni, h1.lemonchicken ,h1.amadeus,h1.quintessential
				 {
				  font-size: 3.0rem;
				}

 h4.newtimesroman,   h4.antic,h4.anticSlab, h4.quintessentialViolet, h4.quintessentialBlue, h4.amadeus, h4.kingsthingsLite,     h4.newtimes,          h4.optimanormal,   h4.magnolia,h4.caroni ,h4.quintessential, h4.kaushanscript, h4.dancing-script-ot ,h4.shangrilanReg  ,h4.lemonchicken  
               
               {
               font-size: 2.2rem;
               }
               
        
            
            
            
      div.footersection
{
display:flex;
flex-direction:column;
height:500px;
align-content:center;
justify-content:center;
text-align:center;
flex-wrap:wrap;
//background-color:blue;
background-repeat: no-repeat;
background-size: cover; 
}       
               
 div.tiktok
   {
   display:flex;
   flex-direction:column;
   }            
               
   div.e
   {
   display:flex;
   width:100%;
   }    
    div.f
   {
   display:flex;
   width:100%;
   }    
   
   
   
}

@media (min-width:769px) and (max-width:992px) and  (orientation: portrait) 

{

  div.a, div.b,div.c
			{
			
			height:90px;
			}
			


h1.caroni, h1.lemonchicken  ,h1.amadeus,h1.quintessential
				 {
				  font-size: 3.5rem;
				}

 
 h4.newtimesroman,h4.antic,h4.anticSlab, h4.quintessentialViolet, h4.quintessentialBlue, h4.amadeus, h4.kingsthingsLite    h4.newtimes,     h4.optimanormal,  h4.magnolia,h4.caroni ,h4.quintessential, h4.kaushanscript, h4.dancing-script-ot ,h4.shangrilanReg  ,h4.lemonchicken  
               
               {
               font-size: 2.2rem;
               }          
   div.footersection
{
display:flex;
flex-direction:column;
height:500px;
align-content:center;
justify-content:center;
text-align:center;
flex-wrap:wrap;
//background-color:yellow;
background-repeat: no-repeat;
background-size: cover; 
}    
 div.tiktok
   {
   display:flex;
   flex-direction:column;
   }            
               
   div.e
   {
   display:flex;
   width:100%;
   }    
   
    div.f
   {
   display:flex;
   width:100%;
   }    
}



@media (min-width:992px) and (max-width:1200px) and  (orientation: portrait) 

{
div.footersection
{
display:flex;
flex-direction:row;
height:150px;

		}	


h1.caroni, h1.lemonchicken ,h1.amadeus,h1.quintessential
				 {
				  font-size: 4.0rem;
				}






}
@media (min-width:1200px)  and  (orientation: portrait) 

{
h1.caroni, h1.lemonchicken ,h1.amadeus,h1.quintessential
				 {
				  font-size: 5.0rem;
				}

}

@media (min-width: 700px) and (max-width: 1024px) and (orientation: landscape) {

h1.caroni, h1.lemonchicken, h1.amadeus
				 {
				  font-size: 3.7rem;
				}

}


@media (min-width: 1025px) and  (orientation: landscape) {

h1.caroni,  h1.lemonchicken ,h1.amadeus,h1.quintessential
				 {
				  font-size: 3.7rem;
				}










}
